//imports - utilities
@use '_variaveis.scss';
@use '_hero.scss';
@use '_shows.scss';
@use '_plans.scss';
@use 'available-devices.scss';
@use '_faq.scss';

//fontes externas
@font-face {        //fonte padrão - site inteiro
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 700;
}

// reset - All pages
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif; //font family no body não se aplica a buttons e inputs
}

body{
    background-color: variaveis.$corDeFundo;
}
h1{
    color: #fff; 
    font-family: sans-serif;
}

//mixin´s
@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}

.title{
    @include title;
}
.title--big{
    @include title(44px);
}
.title--small{
    @include title(28px);
}
.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
}
.image-text-section{   //classe - assista em qualquer lugar
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;    //alinhamento vertical do conteudo

    img{
        max-width: 100%;
    }
    
    &__text_container{
        padding: 0.2vw;

        h2{
            margin-bottom: 24px;
        }
    }
    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
        }
    }
}