//imports - utilities
@use '_variaveis';
@use '_hero';
@use '_shows';
@use '_plans';
@use '_available-devices';
@use '_faq';
@use '_footer';
@use '_header';

//fontes externas
@font-face {        //fonte padrão - site inteiro
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 700;
}

// reset - All pages
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif; //font family no body não se aplica a buttons e inputs
    list-style: none; //nemhum elemento de lista com marcador
    // border: 1px solid #fff;
}

body{
    background-color: variaveis.$corDeFundo;
}
h1{
    color: #fff; 
    font-family: sans-serif;
}

//mixins
@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

//textos
.text--big{
    @include text(18px);

    @media (max-width: 768px){
        @include text(15px)
    }
}
.text{
    @include text;

    @media (max-width: 768px){
        @include text(14px)
    }
}
.text--small{
    @include text(12px);

    @media (max-width: 768px){
        @include text(11px)
    }
}

//titulos
.title{
    @include title;

    @media (max-width: 768px){
        @include title(24px);
    }
}
.title--big{
    @include title(44px);

    @media (max-width: 768px){
        @include title(26px)
    }
}
.title--small{
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px)
    }
}
.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color:variaveis.$corButtonPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corButtonPrimario;

    &:hover{
        background-color: lighten(variaveis.$corButtonPrimario, 3%); //funçao para modificar a cor

    }

    &--secundary{
        background-color: variaveis.$corButtonSecundario;
        border-color: variaveis.$corButtonSecundario;
        
        &:hover{
            background-color: lighten(variaveis.$corButtonSecundario, 3%); //funçao para modificar a cor

        }
    }
    &--dark{
        background-color: rgba($color: variaveis.$corButtonDark, $alpha: 0.8);  //cor com opacidade
        border-color: variaveis.$corTextoSecundario;
    
        &:hover{
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;

        }
    }
}

.image-text-section{   //classe - assista em qualquer lugar
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;    //alinhamento vertical do conteudo

    //media querie
    @media(max-width: 768px){
        display: block;
    }

    img{
        max-width: 100%;
    }
    
    &__text_container{
        padding: 0.2vw;

        h2{
            margin-bottom: 24px;
        }
    }
    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);

            @media(max-width: 768px){
                position: relative;
                width: 100%;
                left: 0;
            }
        
        }
    }
}